<html>

<head>
    <title>
        <%= locals.title %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css" type="text/css">

    <!-- To put styles here after extract  -->
    <%- style %>
</head>

<body>
    <!-- Render the body using layouts -->
    <%- body %>
        <!-- To put the script files here after extract -->
        <%- script %>
</body>

</html>